/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

:root {
    --font-family: 'Inter', sans-serif;
    --font-family-code: 'JetBrains Mono', monospace;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
}

code,
pre,
kbd,
samp {
    font-family: var(--font-family-code) !important;
}

/* Improve heading weights */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    letter-spacing: -0.02em;
}